<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357537170157-t75mh6obasmt1jrs2u64shdaegctaa39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357537170157-t75mh6obasmt1jrs2u64shdaegctaa39</string>
	<key>API_KEY</key>
	<string>AIzaSyBh0OPYUwcRI3XJ20xt6-VBhjzYhShq5CU</string>
	<key>GCM_SENDER_ID</key>
	<string>357537170157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.orestisPapadopoulos.PodFast</string>
	<key>PROJECT_ID</key>
	<string>podfast-2b536</string>
	<key>STORAGE_BUCKET</key>
	<string>podfast-2b536.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357537170157:ios:5dc1601e1f2738829f02e4</string>
	<key>DATABASE_URL</key>
	<string>https://podfast-2b536.firebaseio.com</string>
</dict>
</plist>